body {

}

#banner {}

}

.principal{
background: #CCCCCC
padding: 30px;
}

.titulo-principal {
padding-left: 20px;
.titulo-centralizado {
  text-align: center
  }
     p {

  text-align:center;
  }

  #caramelo {
    font-size: 20px
  }

  em strong {
  color: Red;
  }

.itens {
font-style: italic;
}

.beneficios {
  background: #FFFFFF;
padding:20px;
}

h2 {
text-align: center;
}
ul{
display: inline-block;
vertical-align: top;
width:20%;

} martin-right: ;

.imagembeneficios
width:50%;

}
